@page "/"
@using LocalizationManagerSDK.Services
@using System.Globalization
@inject LocalizationService service

<PageTitle>Home</PageTitle>

<h1>@service.GetString("Welcome")</h1>
<br />
<p>@service.GetString("Description")</p>
<hr />
<h4>@service.GetString("HowToUse")</h4>
<ol>
    <li>@service.GetString("HowToUse1")</li>
    <li>@service.GetString("HowToUse2")</li>
</ol>
<br />
<h4>@service.GetString("TryItOut")</h4>