@page "/"
@using Microsoft.Extensions.Localization
@using LocalizationClient.Resources
@using System.Globalization
@using System.Xml
@using System.Resources
@inject IStringLocalizer<Resource> Localizer

<PageTitle>Home</PageTitle>

<h1>@Localizer["Welcome"]</h1>
<br />
<p>@Localizer["Description"]</p>
<hr />
<h4>@Localizer["HowToUse"]</h4>
<ol>
    <li>@Localizer["HowToUse1"]</li>
    <li>@Localizer["HowToUse2"]</li>
</ol>
<br />
<h4>@Localizer["TryItOut"]</h4>
